{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

    <h2>Observer {{ observer.name }}</h2>

    <ul class="list-group">
        <li class="list-group-item"><b>Address:</b>
            <a href="{{ observer.address }}" target="_blank">{{ observer.address }}</a></li>
        <li class="list-group-item"><b>Type:</b> {{ observer.type }}</li>
    </ul>

    <hr>

    <h3>Data</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Price</th>
            <th scope="col">Created At</th>
        </tr>
        </thead>
        <tbody>
        {% for product in observer.products %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.price|number_format(2) }}</td>
                <td>{{ product.getCreatedAt().format("Y-m-d H:i:s") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#openErrors" aria-expanded="false"
            aria-controls="openErrors" onclick="this.remove()">
        Show Errors
    </button>

    {% if (observer.getErrors() is not empty) %}
        <div class="collapse" id="openErrors">
            <h3>Errors</h3>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Message</th>
                    <th scope="col">Created At</th>
                </tr>
                </thead>
                <tbody>
                {% for error in observer.getErrors() %}
                    <tr>
                        <th scope="row">{{ error.id }}</th>
                        <td>{{ error.msg }}</td>
                        <td>{{ error.getCreatedAt().format("Y-m-d H:i:s") }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
